<h1>Find company identity number</h1>
<%= form_tag("/find", method: "get") do %>
  <%= label_tag(:name, "Enter company name:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Find") %>
<% end %>

<% if @company %>
<p>
  <strong>Search for name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>Found identity number:</strong>
  <%= @company.identity %>
</p>
<% elsif @error && params[:name] %>
  <p style="color:red">
   <strong>Error message:</strong>
   <%= @error %>
  </p> 
<% end %>

